<!doctype html>
<html lang="en">
<%- include('includes/header') -%>
<body>

  <%- include('includes/navbar') -%>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">DogeCasino</h1>
      <p class="lead">Welcome to DogeCasino the best casino!</p>
      </br>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Start Gambling Now!</a>
      </p>
    </div>
  </div>

  <%- include('includes/scripts') -%>
</body>
</html>