<!doctype html>
<html lang="en">
<%- include('includes/header') -%>
<body>

  <%- include('includes/navbar') -%>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Login</h1>

      <form action="/login" method="post"></form>

    </div>
  </div>

  <%- include('includes/scripts') -%>
</body>
</html>